/* vim: ft=css
 */

* {
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
}

pre {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

ul {
  margin: 10px 0;
  padding: 0;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.document-title {
  background-color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto;

  font-size: 2.4em;
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

@media only screen and (min-width: 800px) {
  .grid-container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
  }
}

.grid-container {
  margin-top: -10px;
  padding: 0 10px;
  min-width: 400px;
  background-color: #FFFFFF;
}

.grid-overview {
}

.grid-decls {
}

.section-content {
  margin: 10px 0;
  padding: 10px;
}

.grid-container .section-content {
  padding: 0;
}

.grid-container .section-body {
  padding: 0 10px;
}

/* title at the top of each section */
.section-title {
  padding: 5px 10px;
  margin: 0;
  background: #F2F2F2;
  border: 1px solid #D9D9D9;
}

/* type indicator at top-right of each section */
.section-title .type {
  float: right;
  font-size: 50%;

  color: #000000;
  font-weight: bold;
}

.section-body {
  margin: 10px 0;
  padding: 0 10px;
}

.section-body:last-child {
  margin-bottom: 0;
}

.section-body > .description {
  margin: 20px 0;
}

.section-body *:last-child {
  margin-bottom: 0;
}

/* different type of sections */
.section-packages {
  background-color: #FFFFFF;
}

.section-type {
  background-color: #FFFFFF;
}

.section-enum {
  background-color: #FFFFFF;
}

.section-tuple {
  background-color: #FFFFFF;
}

.section-interface {
  background-color: #FFFFFF;
}

.section-service {
  background-color: #FFFFFF;
}

ul.packages-list li {
  list-style: none;
  margin: 10px 0;
}

.fields > .field {
  margin: 20px 0px;
}

.fields > .field > .name {
  font-weight: bold;
}

.fields > .field > .name > .ty {
  margin-left: 5px;
}

.fields > .field > .name.required {
}

.field-ident {
}

.field-modifier {
    margin-left: 5px;
}

.field-type {
    margin-left: 5px;
}

.field-alias {
    margin-left: 5px;
}

.field-alias-as {
    font-weight: bold;
}

.field-alias-name {
    margin-left: 5px;
}

.type-signed {
}

.type-unsigned {
}

.type-size-sep {
  margin: 0 0.1em;
}

.type-size {
    font-weight: bold;
}

.type-name {
  font-weight: bold;
}

.type-array {
}

.type-array-left {
  margin: 0 0.1em;
  font-weight: bold;
  color: #CECECE;
}

.type-array-right {
  margin: 0 0.1em;
  font-weight: bold;
  color: #CECECE;
}

.type-map {
}

.type-map-left {
  margin: 0 0.1em;
  font-weight: bold;
  color: #CECECE;
}

.type-map-right {
  margin: 0 0.1em;
  font-weight: bold;
  color: #CECECE;
}

.type-map-sep {
  margin: 0 0.1em;
}

table.spaced {
  width: 100%;
}

table.spaced > tbody > tr > td:first-child {
  padding-left: 0px;
}

table.spaced > tbody > tr > td:last-child {
  padding-right: 0px;
}

table.spaced td {
  vertical-align: top;
  padding: 10px 5px;
}

table.spaced td.type {
  width: 20%;
}

table.spaced td.description {
  width: 50%;
  padding: 5px 5px;
  margin: 5px 0;
}

table.spaced td.description p {
  margin: 5px 0;
}

.endpoint {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 10px -10px;
}

.endpoint.short {
  border-width: 0 !important;
  margin: 0 -10px !important;
}

.endpoint.short .endpoint-title {
  border-radius: 0px;
  padding: 5px;
}

.endpoint.short .endpoint-body {
  padding: 10px 0;
}

.endpoint.short .endpoint-body * {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}

.section-service-overview .description {
  margin: 10px 0;
  padding: 0;
}

.section-types-overview h2 {
  margin: 10px 0;
  font-size: 100%;
}

.section-types-overview .description {
  margin: 10px 0;
  padding: 0;
}

.section-types-overview .description * {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}

.endpoint.get {
  border: 1px solid #D9EDF7;
}

.endpoint.post {
  border: 1px solid #DFF0D8;
}

.endpoint.delete {
  border: 1px solid #F2DEDE;
}

.endpoint.put {
  border: 1px solid #FCF8E3;
}

.endpoint-title {
  display: block;

  margin: 0;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  color: black;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
}

.endpoint-title .method {
  color: white;
  border-radius: 3px;
  padding: 0px 6px;
}

.endpoint-title .url {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.endpoint-title .url:hover {
  text-decoration: underline;
}

.endpoint-body {
  padding: 10px 20px;
}

.endpoint.get .endpoint-title {
  background-color: #D9EDF7;
}

.endpoint.get .endpoint-title .method {
  background-color: #337AB7;
}

.endpoint.post .endpoint-title {
  background-color: #DFF0D8;
}

.endpoint.post .endpoint-title .method {
  background-color: #5CB85C;
}

.endpoint.put .endpoint-title {
  background-color: #FCF8E3;
}

.endpoint.put .endpoint-title .method {
  background-color: #ED9C28;
}

.endpoint.delete .endpoint-title {
  background-color: #F2DEDE;
}

.endpoint.delete .endpoint-title .method {
  background-color: #D9534F;
}
