target/
**/*.rs.bk
Cargo.lock
__pycache__
*.pyc
*.class
# temporary files for integration tests
/it/test-*/output
/it/test-*/workdir-*
/it/test-*/output-*
# generated
/src/parser/parser.rs
/src/backend/doc/static/doc.*.css
/src/backend/doc/themes.rs
