[submodule "themes/ayu"]
	path = themes/ayu
	url = https://github.com/dempfi/ayu.git
[submodule "sublime/sublimehq-packages"]
	path = sublime/sublimehq-packages
	url = https://github.com/sublimehq/Packages.git
