target/
**/*.rs.bk
Cargo.lock
__pycache__
*.pyc
*.class
/it/test-*/output
/it/test-*/project-*-workdir
/it/test-*/project-*-output
# generated
/src/parser/parser.rs
/src/backend/doc/static/doc.*.css
/src/backend/doc/themes.rs
